@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  padding: 1rem 2rem;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -moz-appearance: textfield;
}